{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Main Landing Page Section -->
<div id="landing-page-section" class="products-catagories-area clearfix">
    <div class="container-fluid">
        <div class="row">
            <div id="main-logo-col" class="col-7">
                <a href="" class="mb-4"><img src="{% static 'images/core_img/logo_main.png' %}"
                        alt="Main Logo"></a>

                <p class="mt-2 mb-4">Give a second life to those vintage <br> gold finds! <br>
                </p>

                <a href="" class="btn amado-btn mb-15">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Main Landing Page Section End -->

{% endblock %}