{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Main Landing Page Section -->
<div class="products-catagories-area clearfix home-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7 main-logo">
                <a href="" class="mb-4"><img src="{% static 'images/core_img/main_logo.png' %}"
                        alt="Main Logo"></a>



                <p class="mt-2 mb-4">Give a second life to those vintage <strong>gold finds!</strong></p>



            </div>
            <div class="col-7 main-logo">
                <a href="" class="btn amado-btn mb-15">Shop Now</a>
                <a href="" class="btn amado-btn active mb-15">About Us</a>
            </div>

        </div>
    </div>
</div>
<!-- Main Landing Page Section End -->

{% endblock %}