<!-- Not checked yet as I have an major issue with Stripe  -->

{% extends "base.html" %}

{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">

{% endblock %}

{% block content %}

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">

                <!-- Checkout -->
                <div class=" col-12 bg-color">
                    <div class="checkout_details_area mt-50 clearfix">

                        <!-- Checkout Information Section -->
                        <div class="cart-title">
                            <h2 class="text-uppercase text-center">Thank you for your Order</h2>
                        </div>

                        <p class="text-center">The confirmation email will be sent to <strong> {{ order.email }}</strong></p>
                    </div>
                </div>

                <div class="col-12 text-center bg-color">
                    <div class="checkout_details_area order-details-container mt-25 clearfix">
                        <div class="row text-center mb-3">
                            <div class="col">
                                <span class="text-dark text-uppercase">Order Information:</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 gold-text text-uppercase"><strong>Order Number</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-2">{{ order.order_number }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 gold-text text-uppercase"><strong>Order Date</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-5">{{ order.date }}</p>
                            </div>
                        </div>

                        <div class="row centered-text mb-3 gold-text text-uppercase">
                            <div class="col">
                                <span>Purchased:</span>
                            </div>
                        </div>

                        {% for item in order.lineitems.all %}

                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-5 gold-text text-uppercase">
                                        <strong>{{ item.product.name }}</strong>
                                    </p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-5">£{{ item.product.price }}</p>
                                </div>
                            </div>

                        {% endfor %}

                        <div class="row text-center mb-3 text-dark text-uppercase">
                            <div class="col">
                                <span>Personal Details:</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 gold-text text-uppercase"><strong>Full Name</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-2">{{ order.full_name }}</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 gold-text text-uppercase"><strong>Address 1</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-2">{{ order.street_address1 }}</p>
                            </div>
                        </div>

                        {% if order.street_address2 %}

                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-2 gold-text text-uppercase"><strong>Address 2</strong></p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-2">{{ order.street_address2 }}</p>
                                </div>
                            </div>

                        {% endif %}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 gold-text text-uppercase"><strong>Town or City</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-2">{{ order.town_or_city }}</p>
                            </div>
                        </div>

                        {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold gold-text text-uppercase">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2  gold-text text-uppercase"><strong>Country</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-2">{{ order.country }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 gold-text text-uppercase"><strong>Phone Number</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-5">{{ order.phone_number }}</p>
                            </div>
                        </div>

                        <div class="row text-center mb-3">
                            <div class="col">
                                <span class="text-dark text-uppercase">Total Charged:</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-2 gold-text text-uppercase"><strong>Order Total</strong></p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-2">{{ order.order_total }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-9 col-xl-8 text-center">

                    {% if from_profile %}

                        <div class="cart-btn mt-50">
                            <a href="{% url 'profile' %}" class="btn amado-btn mt-20 ">Back to Profile</a>
                        </div>

                    {% else %}

                        <div class="cart-btn mt-50">
                            <p class="text-capitalize text-black">Do you want to check newest arrivals?</p>

                            <a href="{% url 'arrivals' %}" class="btn amado-btn mt-20 ">Go Shopping</a>
                        </div>

                    {% endif %}

                </div>

            </div>
        </div>
    </div>

{% endblock %}

