{% extends "base.html" %}

{% load static %}


{% block extra_css %}

    <!-- Additional CSS -->
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">

{% endblock %}

{% block content %}

    <!-- Checkout page -->
    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">

                <!-- Personal Details and Credit Card Sections -->
                <div class=" col-12 col-lg-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2>Checkout Information</h2>
                            <p>Please fill out the form to complete the transaction!</p>
                        </div>

                        <form action="{% url 'checkout' %}" method="POST" id="payment-form">

                            {% csrf_token %}

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    {{ order_form.full_name | as_crispy_field }}
                                </div>


                                <div class="col-12 mb-3">
                                    {{ order_form.email | as_crispy_field }}
                                </div>

                                <div class="col-12 mb-3">
                                    {{ order_form.phone_number | as_crispy_field }}
                                </div>

                                <div class="col-12 mb-3">
                                    {{ order_form.street_address1 | as_crispy_field }}
                                </div>

                                <div class="col-12 mb-3">
                                    {{ order_form.street_address2 | as_crispy_field }}
                                </div>

                                <div class="col-12 mb-3">
                                    {{ order_form.town_or_city | as_crispy_field }}
                                </div>


                                <div class="col-12 col-md-6 mb-3">
                                    {{ order_form.postcode | as_crispy_field }}
                                </div>

                                <div id="country-field" class="col-12 col-md-6 mb-3">
                                    {{ order_form.country | as_crispy_field }}
                                </div>

                                <div class="custom-control custom-checkbox d-block mb-2">

                                    {% if user.is_authenticated %}

                                        <label class="form-check-label" for="id-save-info">Save Order to my
                                            Profile</label>

                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info"
                                               name="save-info" checked>

                                    {% else %}

                                        <label class="form-check-label" for="id-save-info">
                                            <a class="text-dark" href="{% url 'account_signup' %}">CREATE AN ACCOUNT</a>
                                            or

                                            <a class="text-dark" href="{% url 'account_login' %}">LOGIN</a> to save this
                                            info.
                                        </label>

                                    {% endif %}

                                </div>
                            </div>

                            <!-- Credit Card and Donate Section -->
                            <div class="cart-summary">
                                <h5>Credit Card Details</h5>

                                <!-- A Stripe card element will go here -->
                                <div class="mb-3 mt-3" id="card-element"></div>

                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </div>

                            <div class="payment-method submit-button mb-20">
                                <button id="submit-button" class="cart-btn btn amado-btn w-100 mt-5">
                                    <span>Pay</span>
                                </button>
                            </div>

                        </form>
                    </div>

                </div>

                <div class="col-12 col-lg-6">
                    <div class="cart-summary">
                        <h5>Cart Summary </h5>
                        <ul class="summary-table">
                            {% if total %}
                                <li><span>Total: £{{ total|floatformat:2 }}</span></li>
                            {% else %}
                                <li><span>Total: £0.00 </span></li>
                            {% endif %}

                            <li><span>Delivery: £{{ delivery|floatformat:2 }}</span></li>
                            <li><h6 class="mt-4"><strong>Grand Total: £ {{ grand_total|floatformat:2 }}</strong></h6>
                            </li>
                        </ul>
                        <div class="cart-btn">
                            <a href="{% url 'view_cart' %}" class="btn amado-btn w-100">Adjust Bag</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}

    {{ block.super }}

    {{ stripe_public_key|json_script:"id_stripe_public_key" }}

    {{ client_secret|json_script:"id_client_secret" }}

    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}