/* ------------------------------- custom CSS */

.add-cursor {
    cursor: pointer;
}

/* ------------------------------- index page */
.main-logo {
    top: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.main-logo p{
    color: #000000;
}

.home-page {
    min-height: 90vh;
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('/static/images/core_img/bg-2.png');
}

/* ------------------------------- Products Details */

.gold-text {
    color: #fbb710;
}

select {
  text-indent: 15px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
    background-color: #0b0b0b;
    opacity: 0.5;
    color: #fbb710;
    padding: 20px;
}

.toast-text {
    color: #fbb710;
}

.toast-capper {
    height: 2px;
}


/* ------------------------------- about us */

.box-p {
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 5px;
    border-radius: 5px;

}

/* ------------------------------- New Arrivals */

.hover-arr {
    background-color: #0b0b0b;
    opacity: 0.7;
    padding: 5px;
    border-radius: 5px;
}

.text-price {
    color: #f8f8f8;
}

/* ------------------------------- Allauth */

.allauth-form-inner-content {
    padding: 0;
    margin: 0;
}

.allauth-form-inner-content #allauth-bg {
    background-color: #f5f7fa;
    padding: 2em;
}

@media (max-width: 767px) {
    .allauth-form-inner-content #allauth-bg {
        margin: 0 1em 2em 1em;
    }
}

.allauth-form-inner-content #allauth-bg div {
    margin-bottom: 1em;
}

.allauth-form-inner-content input {
    border-radius: 0;
}

.allauth-form-inner-content .golden-text {
    color: #fbb710;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}



.checkout_details_area #payment-form #country-field #div_id_country .nice-select {
    width: 100%;
    padding: 0 0 0 2.4em;
}

.checkout_details_area #payment-form #country-field #div_id_country .nice-select .list {
    overflow: scroll;
    max-height: 40em;
    z-index: 99999;
}

.cart-table-area .row #profile-update-form #div_id_default_country .nice-select {
    width: 100%;
    padding: 0 0 0 1em;
    color: #495057;
    font-size: medium;
}

.cart-table-area .row #profile-update-form #div_id_default_country .nice-select .list {
    overflow: scroll;
    max-height: 20em;
    z-index: 99999;

}



.cart-table-area .checkout_details_area form .add-product-row div {
    width: 100%;
}

.cart-table-area .checkout_details_area form .add-product-row #div_id_category .nice-select {
    width: 100%;
    padding-top: 0;
}

.cart-table-area .checkout_details_area form .add-product-row #div_id_category .nice-select .current {
    color: #495057;
    font-size: medium;
}

.cart-table-area .checkout_details_area form .add-product-row #div_id_category .nice-select .list {
    overflow: scroll;
}


