{% extends "base.html" %}

{% load static %}

{% block content %}


<!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                {% for arrival in arrivals %}

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'single_product' arrival.product_id %}">
                        <img src="{{ arrival.image1.url }}" alt="Image">
                        <!-- Hover Content -->
                        <div class="hover-content hover-arr">
                            <div class="line"></div>
                            <p class="">£{{arrival.price}}</p>
                            <h5 class="text-price"> {{arrival.name}}</h5>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}