{% extends "base.html" %}

{% load static %}

{% block content %}


    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 justify-content-center">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2 class="text-center text-capitalize">Add a new product</h2>
                            <div class="row add-product">
                                <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">

                                    {% csrf_token %}


                                    {{ form | crispy }}


                                    <div class="cart-summary">
                                        <div class="row payment-method submit-button">
                                            <div class="col-12 cart-btn w-100">
                                                <a href="{% url 'products' %}"
                                                   class="btn amado-btn profile-button w-100">Cancel</a>
                                            </div>

                                            <div class="col-12 mt-2">
                                                <button id="submit-button" class="cart-btn btn amado-btn w-100">
                                                    <span>Add</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}