{% extends "base.html" %}

{% load static %}

{% block content %}


    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-title">
                            <h2 class="text-center text-capitalize">Edit this product</h2>
                            <div class="row add-product">
                                <form action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">

                                    {% csrf_token %}


                                    {{ form | crispy }}

                                    <div class="cart-summary">
                                        <div class="row payment-method submit-button pr-2">
                                            <div class="col-12 col-md-6 w-100 mb-4">
                                                <a href="{% url 'products' %}"
                                                   class="btn amado-btn">Cancel</a>
                                            </div>

                                            <button id="submit-button" type="submit"
                                                    class="col-12 col-md-6">
                                                <span class="btn amado-btn w-100">Update</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}