{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- All Products -->
    <div class="shop_sidebar_area">

        <div class="widget catagory mb-50">
            <!-- Categories -->
            <h6 class="widget-title mb-30">Categories</h6>

            <div class="catagories-menu">
                <ul>
                    <li><a href="{% url 'products' %}">All Categories</a></li>

                    {% for category in categories %}
                        <li><a class="{% if category.name == selected %} active {% endif %}"
                               href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="widget catagory mb-50">
            <!-- Designers -->
            <h6 class="widget-title mb-30">Designers</h6>

            <div class="catagories-menu">
                <ul>
                    <li><a href="{% url 'products' %}">All Designers</a></li>

                    {% for designer in designers %}

                        <li><a href="{% url 'products' %}?designer={{ designer.name }}">{{ designer.name }}</a></li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    <div class="amado_product_area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="product-topbar bg-color">
                        <!-- Number of items -->
                        <div class="total-products">
                            <p>
                                <strong>{{ products|length }} </strong> Items
                            </p>
                        </div>

                        <!-- Sorting -->
                        <div class="product-sorting d-flex p-3">
                            <div class="sort-by-date d-flex align-items-center mr-15">
                                <select id="sort-selector"
                                        class="custom-select{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>
                                        Sort by...
                                    </option>
                                    <option value="price_asc"
                                            {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (↑)
                                    </option>
                                    <option value="price_desc"
                                            {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (↓)
                                    </option>
                                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>
                                        Name (A-Z)
                                    </option>
                                    <option value="name_desc"
                                            {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                {% for product in products %}

                    <!-- Item Detailed -->
                    <div class="col-6">
                        <div class="single-product-wrapper">

                            <div class="product-img">

                                {% if product.image1 %}

                                    <a href="{% url 'single_product' product.id %}">
                                        <img src="{{ product.image1.url }}" alt="{{ product.name }}">

                                        <!-- Hover Thumb -->
                                        <img class="hover-img" src="{{ product.image2.url }}"
                                             alt="{{ antiquity.name }}">
                                    </a>

                                {% else %}

                                    <img src="{% static 'images/core_img/noimage.png' %}" alt="{{ product.name }}">

                                {% endif %}

                            </div>
                            <div class="product-description d-flex align-items-center justify-content-between">

                                <div class="product-meta-data">
                                    <div class="line"></div>

                                    <p class="product-price">£{{ product.price }}</p>

                                    <a href="{% url 'single_product' product.id %}">
                                        <h6>{{ product.name }}</h6>
                                    </a>
                                </div>
                                <!-- Designer & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratingst">
                                        <p>{{ product.designer }}</p>
                                    </div>

                                    <form class="cart" action="{% url 'add_to_cart' product.id %}" method="POST">

                                        {% csrf_token %}

                                        <div class="form-group text-right m-0 p-0">
                                            <input type="hidden" class="form-control qty_input" name="quantity"
                                                   value="1"
                                                   min="1" max="10" data-item_id="{{ product.id }}"
                                                   id="id_qty_{{ product.id }}">
                                        </div>

                                        <button class="add-to-cart-btn add-cursor" type="submit" data-toggle="tooltip"
                                                data-placement="left" title="Add to Cart"><img
                                                src="{% static 'images/core_img/cart.png' %}" alt=""></button>

                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block postloadjs %}

    {{ block.super }}
    <script type="text/javascript">
        $('#sort-selector').change(function () {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}